.c{
	width: 10.5%;
	border: black solid;
	float: left;
	text-align: center;
}

.i{
	width: 8%;
	border: black solid;
	float: left;
	text-align: center;
	margin-left: 1%;
}

.spacer{
	width: 100%;
	border: none;
	float: left;
}

.sel{
	background-color: orange;
}

.v{
	border-right: 0;
}

.invis{
	width: 10.5%;
	border: 0;
}

.h{
	border-bottom: 0;
}

.win{
	background-color: green;
}

.d{
	background-color : #E0E0E0;
}

.wrong{
	background-color: red;
}

.all{
	background-color : #AAAAAA;
}

.hi{
	background-color : blue;
}