<!DOCTYPE html>
<html>
<head>
<base href="/system/">
<title>DashNet | 404!</title>
<!--
Code and graphics copyright Orteil, 2022
Feel free to alter this code to your liking, but please do not re-host it, do not profit from it and do not present it as your own.
-->

<link rel="shortcut icon" href="img/favicon.ico" />
<link href="lib/style.css?v=2" rel="stylesheet" type="text/css">
<link href="style.css?v=2" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="wrap" class="inFrame">
	<div id="mainBox">
		<div id="subtitle"><a href="http://www.dashnet.org" target="_top">&lt; back</a></div>
		<div id="title">404!</div>
		<div id="subtitle">whoops</div>
		<div class="blurb">
			<div class="block">
			<p>Either you typed a url wrong (that's on you!) or we messed up somewhere (that's our bad, please <a href="https://orteil42.tumblr.com">let us know</a>!).</p>
			<p>Not sure where to go? You could check out our <a href="https://www.dashnet.org" target="_top">homepage</a> for some pretty neat stuff.</p>
			</div>
		</div>
		<div id="credits">&copy; <a href="https://orteil.dashnet.org" target="_top">Orteil</a>, 2022 - <a href="https://dashnet.org" target="_top">DashNet</a></div>
	</div>
</div>
</body>
</html>
