body {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100%;
	min-width: 100%;
	background-color: white;
	background-image: url('bg.jpg');
	background-size: cover;
	font-family: Syncopate;
	overflow: hidden; /* Hide scrollbars */
}

#clock {
	border-spacing: 0px 0px;
	color: rgb(233, 233, 233);
	font-family: Syncopate;
	font-size: 27vw;
	width: 100%;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-shadow: rgb(0, 0, 0) 0px 1px 1px;
	user-select: none;
	white-space: nowrap;
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}